main{
  text-align: center;
}
img{
  margin: 60px;
  margin-top: 20px;
  border-radius: 20px;
background: #298b5d;
padding: 4px;
width: 225px;
height: 300px;
}
img:hover{
  padding: 4px;
  margin: 55px;
  margin-top: 10px;
  width: 235px;
  height: 310px;
  background-color: rgb(46, 65, 179)
}