main{
  display: flex;
  justify-content: center;
}
main > .signupform{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
main > .signupform > button{
  margin-top: 10px;
}